---
- name: Install Desktop + DCV Server on Ubuntu 22.04
  hosts: all
  become: yes

  vars:
    dcv_url: "https://d1uj6qtbmh3dt5.cloudfront.net/2025.0/Servers/nice-dcv-2025.0-20103-ubuntu2204-x86_64.tgz"

  tasks:

    - name: Update apt repository
      apt:
        update_cache: yes

    - name: Install required dependencies
      apt:
        name:
          - python3
          - python3-pip
          - build-essential
          - wget
          - curl
          - unzip
          - tar
          - xserver-xorg
          - ubuntu-mate-desktop
        state: present

    - name: Download DCV Server package
      get_url:
        url: "{{ dcv_url }}"
        dest: "/tmp/dcv.tgz"
        mode: '0755'

    - name: Extract DCV server package
      unarchive:
        src: "/tmp/dcv.tgz"
        dest: "/tmp/dcv"
        remote_src: yes

    - name: Install all DCV .deb packages
      shell: |
        cd /tmp/dcv
        apt install -y ./*.deb
      args:
        executable: /bin/bash

    - name: Enable and start DCV service
      systemd:
        name: dcvserver
        enabled: yes
        state: started

    - name: Allow DCV port 8443 (HTTPS)
      ufw:
        rule: allow
        port: 8443
        proto: tcp

    - name: Enable user for DCV session
      copy:
        dest: /etc/dcv/dcv.conf
        content: |
          [security]
          authentication="system"
          
          [session-management]
          create-session=1
          default-desktop-env=mate

    - name: Restart DCV server
      systemd:
        name: dcvserver
        state: restarted

