# ansible/install_tools.yml
- name: Install tools + CloudWatch Agent + NICE DCV + XFCE
  hosts: all
  become: yes

  vars:
    dcv_pkg_name: "nice-dcv-server_2024.2.13247-1_amd64.ubuntu2204.deb"
    dcv_download_url: "https://d1uj6qtbmh3dt5.cloudfront.net/2024.2/Servers/Ubuntu22.04/x86_64/{{ dcv_pkg_name }}"

  tasks:

    - name: Update apt cache
      apt:
        update_cache: yes

    - name: Download CloudWatch Agent
      get_url:
        url: https://s3.amazonaws.com/amazoncloudwatch-agent/ubuntu/amd64/latest/amazon-cloudwatch-agent.deb
        dest: /tmp/amazon-cloudwatch-agent.deb

    - name: Install CloudWatch Agent
      apt:
        deb: /tmp/amazon-cloudwatch-agent.deb
        state: present

    - name: Configure CloudWatch Agent
      template:
        src: amazon-cloudwatch-agent.j2
        dest: /opt/aws/amazon-cloudwatch-agent/etc/amazon-cloudwatch-agent.json

    - name: Start CloudWatch Agent
      command: /opt/aws/amazon-cloudwatch-agent/bin/amazon-cloudwatch-agent-ctl -a fetch-config -m ec2 -s -c file:/opt/aws/amazon-cloudwatch-agent/etc/amazon-cloudwatch-agent.json

    - name: Install tools
      apt:
        name: "{{ tools_to_install }}"
        state: present
      when: tools_to_install is defined

    # -------- XFCE ----------
    - name: Install XFCE
      apt:
        name:
          - xfce4
          - xorg
          - dbus-x11
          - policykit-1
          - lightdm
        state: present
        update_cache: yes

    # -------- DCV DEPENDENCIES ----------
    - name: Install DCV dependencies
      apt:
        name:
          - libgl1
          - libxcb-icccm4
          - libxcb-image0
          - libxcb-keysyms1
          - libxcb-randr0
          - libxcb-render-util0
          - libxcb-xinerama0
          - ca-certificates
          - wget
        state: present

    # -------- DCV PACKAGE ----------
    - name: Download DCV package
      get_url:
        url: "{{ dcv_download_url }}"
        dest: "/tmp/{{ dcv_pkg_name }}"
        mode: '0644'

    - name: Install DCV
      apt:
        deb: "/tmp/{{ dcv_pkg_name }}"
        state: present

    - name: Enable DCV server
      systemd:
        name: dcvserver
        enabled: yes
        state: started

    - name: Add ubuntu user to video group
      user:
        name: ubuntu
        groups: video
        append: yes

    - name: Create default dcv.ini
      copy:
        dest: /etc/dcv/dcv.ini
        content: |
          [session-management]
          create-session=true

    - name: Restart DCV server
      systemd:
        name: dcvserver
        state: restarted

    - name: Print DCV connection URL
      debug:
        msg: "DCV ready at https://{{ ansible_default_ipv4.address }}:8443"

