---
- name: Fully automatic NICE DCV installation for EC2
  hosts: all
  become: yes

  vars:
    dcv_base_url: "https://d1uj6qtbmh3dt5.cloudfront.net"

  tasks:

    ###########################################################################
    # Detect OS TYPE (Amazon Linux / Ubuntu)
    ###########################################################################
    - name: Detect OS family
    set_fact:
      os_family: "{{ ansible_facts.os_family }}"
      os_release: "{{ ansible_facts.distribution_version }}"

    - debug:
        msg: "Detected OS: {{ os_family }} version {{ os_release }}"

    ###########################################################################
    # Make sure required tools exist
    ###########################################################################
    - name: Install required packages for both OS types
      package:
        name:
          - curl
          - unzip
          - jq
        state: present

    ###########################################################################
    # Fetch the latest version dynamically from DCV repo
    ###########################################################################
    - name: Get NICE DCV latest version number
      shell: |
        curl -s https://d1uj6qtbmh3dt5.cloudfront.net | \
        grep -oP 'href="\K[0-9.]+' | sort -V | tail -1
      register: dcv_version_raw

    - name: Set DCV version fact
      set_fact:
        dcv_version: "{{ dcv_version_raw.stdout }}"

    - debug:
        msg: "Installing NICE DCV version {{ dcv_version }}"

    ###########################################################################
    # Download correct DCV package based on OS
    ###########################################################################
    - name: Set download URL for Amazon Linux
      when: os_family == "RedHat"
      set_fact:
        dcv_package: "{{ dcv_base_url }}/{{ dcv_version }}/nice-dcv-{{ dcv_version }}-el7-x86_64.tgz"

    - name: Set download URL for Ubuntu
      when: os_family == "Debian"
      set_fact:
        dcv_package: "{{ dcv_base_url }}/{{ dcv_version }}/nice-dcv-{{ dcv_version }}-ubuntu20.04-x86_64.tgz"

    - name: Download DCV package
      get_url:
        url: "{{ dcv_package }}"
        dest: "/tmp/dcv.tgz"

    - name: Extract DCV package
      unarchive:
        src: "/tmp/dcv.tgz"
        dest: "/tmp"
        remote_src: yes

    ###########################################################################
    # Install DCV based on OS TYPE
    ###########################################################################
    - name: Install DCV on Amazon Linux / RHEL
      when: os_family == "RedHat"
      shell: |
        yum localinstall -y /tmp/nice-dcv-{{ dcv_version }}-el7-x86_64/*.rpm

    - name: Install DCV on Ubuntu
      when: os_family == "Debian"
      shell: |
        apt install -y /tmp/nice-dcv-{{ dcv_version }}-ubuntu20.04-x86_64/*.deb

    ###########################################################################
    # GPU Driver / GL libraries (if instance is GPU)
    ###########################################################################
    - name: Install required GPU libraries
      package:
        name: 
          - nvidia-driver-latest-dkms
          - libglvnd
        state: present
      ignore_errors: yes   # works for non-GPU EC2 instances too

    ###########################################################################
    # Start DCV Service
    ###########################################################################
    - name: Enable and start DCV
      systemd:
        name: dcvserver
        state: started
        enabled: yes

    ###########################################################################
    # Install & Start CloudWatch Agent (NO WARN ERROR)
    ###########################################################################
    - name: Download CloudWatch Agent
      get_url:
        url: "https://s3.amazonaws.com/amazoncloudwatch-agent/amazon_linux/amd64/latest/amazon-cloudwatch-agent.rpm"
        dest: "/tmp/cw.rpm"
      when: os_family == "RedHat"

    - name: Install CloudWatch Agent (Amazon Linux)
      yum:
        name: "/tmp/cw.rpm"
        state: present
      when: os_family == "RedHat"

    - name: Install CloudWatch Agent (Ubuntu)
      apt:
        deb: "https://s3.amazonaws.com/amazoncloudwatch-agent/ubuntu/amd64/latest/amazon-cloudwatch-agent.deb"
      when: os_family == "Debian"

    - name: Start CloudWatch Agent
      command: /opt/aws/amazon-cloudwatch-agent/bin/amazon-cloudwatch-agent-ctl \
                -a start \
                -m ec2 \
                -c file:/opt/aws/amazon-cloudwatch-agent/etc/amazon-cloudwatch-agent.json


