---
- name: Install XFCE Desktop + Amazon DCV Server + tools
  hosts: all
  become: yes

  vars:
    # DCV URL for Ubuntu 20.04 (x86_64)
    dcv_url: "https://d1uj6qtbmh3dt5.cloudfront.net/2024.2/Servers/Ubuntu2004/x86_64/nice-dcv-server_2024.2.15364-1_ubuntu2004_amd64.deb"

  tasks:

    - name: Update apt cache
      apt:
        update_cache: yes

    - name: Install base utilities
      apt:
        name:
          - curl
          - wget
          - jq
          - gpg
        state: present

    - name: Install XFCE desktop
      apt:
        name:
          - xfce4
          - xfce4-goodies
        state: present

    - name: Install LightDM
      apt:
        name: lightdm
        state: present

    - name: Install DCV runtime dependencies
      apt:
        name:
          - python3
          - python3-pip
          - pcscd
          - mesa-utils
          - dkms
          - linux-headers-generic
        state: present

    - name: Print DCV URL
      debug:
        msg: "Installing DCV from {{ dcv_url }}"

    - name: Download DCV package
      get_url:
        url: "{{ dcv_url }}"
        dest: "/tmp/dcv.deb"
        mode: '0644'

    - name: Install DCV .deb package
      apt:
        deb: "/tmp/dcv.deb"
        state: present

    - name: Install extra tools
      apt:
        name: "{{ tools_to_install }}"
        state: present

    - name: Reboot after DCV install
      reboot:
        msg: "Rebooting to finalize DCV installation"

